# Configuration to be found here: https://github.com/supabase/auth?tab=readme-ov-file#configuration

GOTRUE_EXTERNAL_GOOGLE_ENABLED=true
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID='YOUR VALUE'
GOTRUE_EXTERNAL_GOOGLE_SECRET='YOUR VALUE'
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=http://localhost:8000/auth/v1/callback
GOTRUE_EXTERNAL_GOOGLE_SKIP_NONCE_CHECK=true

GOTRUE_EXTERNAL_FACEBOOK_ENABLED=true
GOTRUE_EXTERNAL_FACEBOOK_CLIENT_ID='YOUR VALUE'
GOTRUE_EXTERNAL_FACEBOOK_SECRET='YOUR VALUE'
GOTRUE_EXTERNAL_FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/v1/callback
GOTRUE_EXTERNAL_FACEBOOK_SKIP_NONCE_CHECK=true


 